<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="project5.attendance.AttendanceDao">

	<insert id="attendanceWrite" parameterType="project5.attendance.AttendanceVO">
		INSERT into attendance VALUES (seq_attendance.nextval, #{memberkey}, #{score})
	</insert>


	<select id="memberPlusAttendacne" resultType="project5.attendance.AttendanceVO2">
		select m.*, a.score
		from member m, attendance a
		where m.memberkey =
		a.memberkey
	</select>

</mapper>

