<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="project5.fullCalendar.A10_FullCalDao">
	<!-- 
	List<Calendar> getCalendarList();
	 -->
	<resultMap type="calendar" id="calResult">
		<result property="start" column="start1"/>
		<result property="end" column="end1"/>
	</resultMap> 
	<select id="getCalendarList" resultMap="calResult">
		select * from calendar
	</select>
	<insert id="insertCalendar" parameterType="calendar">
		INSERT INTO calendar values(cal_seq.nextval, 
			#{title},#{start},#{end},#{content},#{borderColor},#{backgroundColor},
				#{textColor},
				#{allDay}
				
				)	
	</insert> 
	<update id="updateCalendar"  parameterType="calendar">
		UPDATE calendar
			set title = #{title},
			    start1 = #{start},
			    end1 = #{end},
			    content = #{content},
			    borderColor = #{borderColor},
			    backgroundColor = #{backgroundColor},
			    textColor = #{textColor},
			    allDay = #{allDay}
		WHERE id = #{id}		    
	</update>
	<delete id="deleteCalendar" parameterType="int">
		DELETE FROM calendar
			WHERE id = #{id}
	</delete>
</mapper>