<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="project5.fullCalendar.A10_FullCalDao">
	<!-- List<Calendar> getCalendarList(); -->
	<resultMap type="calendar" id="calResult">
		<result property="start" column="start1" />
		<result property="end" column="end1" />
	</resultMap>
	
	
	<select id="getCalendarList" resultMap="calResult" parameterType="int">
		select * from calendars
		where projectkey=#{projectkey}
	</select>





	<!-- 전체 데이터 수 가져오기 -->
	<select id="totCnt"
		parameterType="project5.fullCalendar.CalendarSch" resultType="int">
		select count(*)
		from calendar
		where 1=1
		<if test="title!=null and title!=''">
			and title like '%'||#{title}||'%'
		</if>
		<if test="contents!=null and contents!=''">
			and contents like '%'||#{contents}||'%'
		</if>
	</select>

	
	<!-- 리스트를 불러오기 -->
	<select id="listWithPaging"
		resultType="project5.fullCalendar.Calendar"
		parameterType="project5.fullCalendar.CalendarSch">
		select *
		from (
		select rownum cnt,c.*
		FROM
		calendar c
		where
		1=1
		<if test="title!=null and title!=''">
			and title like '%'||#{title}||'%'
		</if>
		<if test="contents!=null and contents!=''">
			and contents like '%'||#{contents}||'%'
		</if>
		)
		where cnt between #{start} and #{end}
		order by id
	</select>














	<select id="getCalendarIndividaulList" resultMap="calResult" parameterType="int">
		select * from calendars where memberkey = #{memberkey}
	</select>


	<select id="mywork" resultType="project5.fullCalendar.Calendar" parameterType="int">
		select * from calendars where memberkey = #{memberkey}
	</select>

	<select id="get" resultType="project5.fullCalendar.Calendar" parameterType="int">
		select * from calendars where id = #{id}
	</select>





	<insert id="insertCalendar" parameterType="calendar">
		INSERT INTO calendars
		values(cal_seq.nextval,
		#{title},#{start},#{end},#{content},#{borderColor},#{backgroundColor},
		#{textColor},#{allDay}, #{projectkey}, ${memberkey})
	</insert>



	<update id="updateCalendar" parameterType="calendar">
		UPDATE calendars
		set title = #{title},
		start1 = #{start},
		end1 = #{end},
		content = #{content},
		borderColor = #{borderColor},
		backgroundColor = #{backgroundColor},
		textColor = #{textColor},
		allDay = #{allDay}
		WHERE id = #{id}
	</update>
	
	
	
	
	<delete id="deleteCalendar" parameterType="int">
		DELETE FROM calendars
		WHERE id = #{id}
	</delete>
</mapper>