<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="project5.cost.CostDao">
	<!-- 게시글 목록 -->
 	<select id="getCostList" resultType="costList">
 		SELECT co.COSTKEY costkey, p.NAME prjname, TO_CHAR(p.STARTDATE,'YYYY-MM-DD')STARTDATE  ,TO_CHAR(p.LASTDATE, 'YYYY-MM-DD') LASTDATE ,
		cl.NAME company , p.MANAGER pm, co.COSTASSIGN costassign
		FROM PROJECT p , CLIENT cl , COST co
		WHERE co.PROJECTKEY = p.PROJECTKEY 
		AND p.CLIENTKEY = cl.CLIENTKEY
 	</select>
 	<!-- 프로젝트 목록 -->
 	<select id="getPrjList" resultType="costList">
 		SELECT PROJECTKEY prjkey,NAME prjname  
		FROM PROJECT
 	</select>
 	<!-- 예산 구분 목록 -->
 	<select id="getCostSort" resultType="costList">
 		SELECT COSTSORTKEY cskey, CONTENT cscontent
		FROM COSTSORT
 	</select>
 	<!-- 프로젝트 에산 금액 -->
	<select id="getPrjCost" resultType="int" parameterType="int">
		SELECT TAKE 
		FROM PROJECT
		WHERE PROJECTKEY = #{prjkey}
	</select>
	<!-- 프로젝트 예산 배정 -->
	<insert id="insPrjCost" parameterType="java.util.List">
			<foreach collection="list" item="item" separator=" " open="INSERT ALL" close="SELECT * FROM SYS.DUAL">
				INTO COSTDETAIL(
					 NO
					,COSTCONTENT
					,COSTNOTE
					,COSTEX
					,COSTSORTKEY
				) VALUES(			
					#{item.no},
					#{item.costcontent},
					#{item.costnote},
					#{item.costex},
					#{item.cskey}
					)
			</foreach>	
	</insert>
	<!-- 프로젝트 예산 리스트 등록 -->
	<insert id="insCostList" parameterType="costList">
		INSERT INTO COST VALUES(
			(SELECT NVL(MAX(COSTKEY)+1,1) FROM COST),
			#{prjkey},
			'미승인',
			#{prjkey}
		)
	</insert>
	
</mapper>
