<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="project5.custoChat.CustoChatDao">



	<!-- 채팅방 만들기 -->
	<insert id="createChat"
		parameterType="project5.custoChat.CustoChatRoomVO">
		INSERT INTO custochatroom VALUES
		(seq_CustoChatRoom.nextval, '새상담'||seq_CustoChatRoom.nextval)
	</insert>

	<!--  채팅방 목록 불루어괴 -->
	<select id="chatRoomList"
		resultType="project5.custoChat.CustoChatRoomVO">
		SELECT roomkey, name, to_char(createdate,'YYYY/MM/DD') createDateS FROM custochatroom ORDER BY createdate
	</select>


	<!-- 채팅방 하나 이름 불러오기 -->
	<select id="getChatRoom" parameterType="int"
		resultType="project5.custoChat.CustoChatRoomVO">
		SELECT * FROM custochatroom where roomkey=${roomkey}
	</select>


	<!-- 메시지 보낼때 자동 삽입 /////////////////////////////////////////////////-->
	<insert id="createMessage"
		parameterType="project5.custoChat.CustoChatMessageVO">
		INSERT INTO custoChatMessage VALUES
		(seq_custoChatMessage.nextval, #{message}, sysdate, #{memberkey},
		#{roomkey})
	</insert>

	<!-- 메시지 룸키로 모조리 불러오기 -->
	<select id="MessageListbyRoomkey" parameterType="int"
		resultType="project5.custoChat.CustoChatMessageVO">
		SELECT * FROM custoChatMessage WHERE roomkey=#{roomkey}
		ORDER BY messagekey
	</select>

	<!-- 메시지 모조리 불러오기 -->
	<select id="AllMessage" parameterType="int"
		resultType="project5.custoChat.CustoChatMessageVO">
		SELECT * FROM custoChatMessage
		ORDER BY messagekey
	</select>



	<!-- 메시지 삭제 -->
	<delete id="DeleteMessagebyMessagekey" parameterType="int">
		delete
		from custoChatMessage
		where messagekey = #{messagekey}
	</delete>


	<!--방 입장 / 회원 초대하기-->
	<insert id="roomJoin"
		parameterType="project5.custoChat.CustoChatRoomJoinVO">
		INSERT INTO custoChatRoomJoin VALUES
		(seq_custoChatRoomJoin.nextval, #{memberkey}, #{roomkey})
	</insert>
	
	
	<update id="plusLikeCnt" parameterType="int">
		UPDATE custoChatMessage SET likecnt = likecnt+1 where messagekey = #{messagekey}
	</update>







</mapper>

