<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="project5.dashBoard.DashBoardDao">


	<select id="riskDashBoard"
		resultType="project5.dashBoard.RiskDashBoardVO">
		SELECT IMPORTANCE, count(*) count
		FROM risk
		GROUP BY
		IMPORTANCE
	</select>


	<select id="calendarCountBelongTodayCnt" resultType="int">
		SELECT
		count(*) FROM calendars WHERE TO_CHAR(SYSDATE,
		'YYYY/MM/dd') <![CDATA[<=]]>
		to_char(TO_DATE(SUBSTR(end1,0, 10),
		'YYYY-MM-DD'),'YYYY/MM/DD')
		AND
		TO_CHAR(SYSDATE, 'YYYY/MM/dd') <![CDATA[>=]]>
		to_char(TO_DATE(SUBSTR(start1,0,
		10), 'YYYY-MM-DD'),'YYYY/MM/DD')
	</select>

	<select id="EmergencyCalendarTask"
		resultType="project5.fullCalendar.Calendar">
		SELECT * FROM (SELECT a.* FROM CALENDARS a ORDER BY end1)
		WHERE
		TO_CHAR(SYSDATE, 'YYYY/MM/dd') <![CDATA[<=]]>
		to_char(TO_DATE(SUBSTR(end1,0,
		10), 'YYYY-MM-DD'),'YYYY/MM/DD')
		AND
		TO_CHAR(SYSDATE, 'YYYY/MM/dd') <![CDATA[>=]]>
		to_char(TO_DATE(SUBSTR(start1,0,
		10), 'YYYY-MM-DD'),'YYYY/MM/DD') AND
		rownum=1
	</select>

	<select id="outputCnt" parameterType="project5.output.OutputVO"
		resultType="int">
		SELECT count(*) FROM OUTPUT WHERE memberkey=#{memberkey}
		and projectkey=#{projectkey}
	</select>

	<select id="outputSortCnt"
		resultType="project5.dashBoard.OutputDashBoardVO">
		SELECT worksortkey, count(worksortkey) count
		FROM OUTPUT
		GROUP BY worksortkey
		ORDER BY WORKSORTKEY
	</select>






	<select id="outputSortCntByMemberkey"
		resultType="project5.dashBoard.OutputDashBoardVO" parameterType="int">
		SELECT worksortkey, count(worksortkey) count
		FROM OUTPUT
		WHERE memberkey=#{memberkey}
		GROUP BY worksortkey
		ORDER BY
		WORKSORTKEY
	</select>


	<select id="teamCntByProject" parameterType="int"
		resultType="int">
		SELECT count(*) count FROM team WHERE projectkey=#{projectkey}
	</select>

	<select id="teamCntByProject1" parameterType="int"
		resultType="int">
	SELECT count(*) count FROM team WHERE projectkey=#{projectkey}  and teamname like '기획%'
	</select>

	<select id="teamCntByProject2" parameterType="int"
		resultType="int">
	SELECT count(*) count FROM team WHERE projectkey=#{projectkey}  and teamname like '개발%'
	</select>

	<select id="teamCntByProject3" parameterType="int"
		resultType="int">
		SELECT count(*) count FROM team WHERE projectkey=#{projectkey}  and teamname like '고객%'
	</select>








</mapper>
