<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="project5.kanban.KanbanDao">

	<select id="list" resultType="project5.kanban.KanbanVO">
		select id, status, text, tags,
		content, color, writedate, duedate, projectkey, deptno, memberkey
		resourceId
		from kanban
		where projectkey=#{projectkey}
	</select>




	<select id="listWork"
		resultType="project5.kanban.KanbanVO">
		select * from
		kanban where status='work'
	</select>

	<select id="individualMemberList"
		resultType="project5.kanban.KanbanVO" parameterType="int">
		select * from
		kanban where memberkey = #{memberkey}
	</select>

	<select id="individualProjectList"
		resultType="project5.kanban.KanbanVO" parameterType="int">
		select * from
		kanban where projectkey = #{projectkey}
	</select>


	<insert id="insert" parameterType="project5.kanban.KanbanVO">
		insert into kanban
		values
		(seq_kanban.nextval, #{status}, #{text}, #{tags}, #{content},#{color},
		sysdate, sysdate, #{projectkey}, #{memberkey}, 1)
	</insert>

	<delete id="delete" parameterType="int">
		delete from
		kanban
		where
		id=#{id}
	</delete>


	<update id="update" parameterType="project5.kanban.KanbanVO">
		update kanban
		set
		status=#{status},
		text =#{text},
		tags = #{tags}
		where id=#{id}
	</update>

	<update id="update2" parameterType="project5.kanban.KanbanVO">
		update kanban
		set
		status=#{status}
		where id=#{id}
	</update>



</mapper>

