<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="project5.noticeAttach.NoticeAttachDao">


	<insert id="insert">
		insert into notice_Attach (uuid, uploadpath,
		filename,
		filetype, noticekey)
		values (#{uuid}, #{uploadPath}, #{fileName},
		#{fileType},#{noticekey})
	</insert>

	<delete id="delete">

		delete from notice_Attach where uuid = #{uuid}

	</delete>

	<select id="findByBno"
		resultType="project5.noticeAttach.NoticeAttachVO">
		select * from notice_Attach where noticekey = #{noticekey}
	</select>

	<delete id="deleteAll">

		delete notice_Attach where noticekey = #{noticekey}

	</delete>

	<select id="getOldFiles"
		resultType="project5.noticeAttach.NoticeAttachVO">

		select * from notice_Attach where uploadpath =
		to_char(sysdate -1 ,'yyyy\mm\dd')

	</select>




</mapper>
