<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="project5.quality.QualityDao">

	<select id="list" resultType="project5.quality.QualityVO">
		select * from quality
	</select>

	<select id="get" resultType="project5.quality.QualityVO"
		parameterType="int">
		select * from quality where qualitykey = #{qualitykey}
	</select>


	<insert id="insert" parameterType="project5.quality.QualityVO">
		insert into quality
		values(seq_quality.nextval, 1, #{memberkey}, sysdate, #{title},
		#{contents})
	</insert>

	<select id="update" parameterType="project5.quality.QualityVO">
		update quality
		set
		title
		=#{title},
		contents = #{contents}
		where qualitykey = #{qualitykey}
	</select>

	<insert id="delete" parameterType="int">
		delete from
		quality
		where
		qualitykey = #{qualitykey}
	</insert>
	
<!-- 품질 평가 -->
	<!-- 프로젝트 목록 -->
	<select id="prjlist" resultType="project5.quality.QualityVO">
		SELECT PROJECTKEY prjkey, name prjname 
		FROM PROJECT
	</select>
	<!-- 품질 평가 항목 -->
	<select id="evallist" resultType="project5.quality.QualityVO">
		SELECT EVALITEMKEY evalkey, CONTENT evalcontent
		FROM EVALITEM
	</select>
	
	<!-- 품질 평가 항목 수정 -->
	<update id="upteval" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" separator=";" open="DECLARE BEGIN" close="; END;">
			UPDATE EVALITEM 
			SET CONTENT = #{item.evalcontent}
			WHERE EVALITEMKEY = #{item.evalkey}
		</foreach>
	</update>


</mapper>
