.b-gantt-task-wrap.b-gantt-task-parent .b-gantt-task {
    max-height : 2em;
}

.b-gantt-task {
    align-items : flex-start;
}

.b-task-percent-bar-outer {
    height : 3px;
    top    : 0;

    .b-task-percent-bar {
        background-color : rgba(0, 0, 0, 0.2);
    }
}

.b-gantt-task-content {
    font-size   : 14px;
    flex-wrap   : wrap;
    overflow    : visible;
    text-align  : right;
    align-items : flex-start;
    margin-top  : 0.2em;

    .taskName {
        margin-bottom : 0.5em;
        font-size     : 1.1em;
        padding-top   : 0.2em;
    }

    img {
        width         : 2em;
        height        : 2em;
        border-radius : 100%;
        border        : 1px solid;
        border-color  : inherit;
        margin-left   : -.3em;
        transition    : transform .2s;
    }

    img:hover {
        transform : scale(2);
        z-index   : 1;
    }
}

.b-actions {
    display         : flex;
    flex            : 1;
    flex-direction  : row;
    justify-content : flex-end;

    i {
        color      : #aaa;
        opacity    : 0.5;
        transition : opacity 0.3s !important;
        margin     : 0 0.3em;
        cursor     : pointer;

        &:hover {
            opacity : 1;
        }
    }
}

progress {
    transform          : rotate(-90deg);
    width              : 1.5em;
    height             : 0.3em;
    transform-origin   : 50%;
    position           : relative;
    top                : 5px;
    appearance         : none;
}

progress::-moz-progress-bar {
    background    : #d6d6d6;
    border-radius : 3px;
}

progress::-webkit-progress-bar {
    background    : #d6d6d6;
    border-radius : 3px;
}

progress::-webkit-progress-value {
    background                 : #83b5fe;
    border-bottom-left-radius  : 3px;
    border-top-left-radius : 3px;
}
