/**
 * Main App scss file
 */

// import bryntum theme and example styles
@import '~@bryntum/demo-resources/scss/example.scss';

#content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    height: 100%;
}

.gantt-bbar .b-toolbar-content {
    justify-content: flex-end;
}
.b-grid-header {
    height: 57px;
}
