/**
 * Main application sass file that contains all the application styling
 */

// Import styles for demo header - not needed otherwise
@import '~@bryntum/demo-resources/scss/example.scss';

body,
html {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Lato, "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

#container {
    flex: 1 1 100%;
}
