<bryntum-demo-header
    link = "../../../../../#example-frameworks-angular-pdf-export"
></bryntum-demo-header>

<div class = "demo-toolbar align-right">
    <bryntum-button
        cls = "b-skip-test b-deep-orange b-raised"
        text = "Export to PDF/PNG"
        (onClick) = "onPdfExport()"
    ></bryntum-button>
</div>

<bryntum-gantt
    #gantt
    [columns] = "ganttConfig.columns"
    [project] = "ganttConfig.project"
    [pdfExportFeature] = "ganttConfig.features.pdfExport"
></bryntum-gantt>
