.b-widget.b-timeline {
    flex   : none;
    height : 16em;

    &.small {
        height : 14em;

        .b-grid-panel-body {
            padding-top    : 2em;
            padding-bottom : 3em;
        }

        .b-sch-event-content {
            font-size : 11px;
        }

        label::before {
            display : none;
        }
    }

    &.large {
        height : 23em;

        .b-grid-panel-body {
            padding-top    : 4em;
            padding-bottom : 6em;
        }
    }
}

.b-theme-stockholm .b-timeline {
    border-bottom : 1px solid #d8d9da;
}

.b-sch-event-wrap.b-sch-style-plain .b-sch-event.important,
.b-gantt-task.important {
    background-color : #F44336;
}
