/**
 * Application global styles
 */
@import '~@bryntum/gantt/gantt.stockholm.css';
@import '~@bryntum/demo-resources/scss/example.scss';

.b-grid-cell .b-button {
    width : 100%;

    span {
        display       : block;
        text-overflow : ellipsis;
        overflow      : hidden;
    }
}
