@import '../../../resources/sass/variables.scss';

.histogram-toolbar {
    justify-content : flex-end;
    border-bottom   : solid 1px $widget-border-color;
    .b-checkbox {
        margin-right : 1em;
    }
}
