<bryntum-gantt
    #gantt
    [baselinesFeature]        = "ganttConfig.features.baselines"
    [columnLines]             = "ganttConfig.columnLines"
    [columns]                 = "ganttConfig.columns"
    [dependencyEditFeature]   = "ganttConfig.features.dependencyEdit"
    [endDate]                 = "ganttConfig.endDate"
    [filterFeature]           = "ganttConfig.features.filter"
    [labelsFeature]           = "ganttConfig.features.labels"
    [progressLineFeature]     = "ganttConfig.features.progressLine"
    [project]                 = "ganttConfig.project"
    [resourceImageFolderPath] = "ganttConfig.resourceImageFolderPath"
    [rollupsFeature]          = "ganttConfig.features.rollups"
    [startDate]               = "ganttConfig.startDate"
    [subGridConfigs]          = "ganttConfig.subGridConfigs"
    [tbar]                    = "ganttConfig.tbar"
    [dependencyIdField]       = "ganttConfig.dependencyIdField"
    [timeRangesFeature]       = "ganttConfig.features.timeRanges"
></bryntum-gantt>
