/**
 * Main application sass file that contains all the application styling
 */

// import bryntum theme and example styles
@import '~@bryntum/demo-resources/scss/example.scss';

.small-text {
  font-size : .7em;
}

.yes-button,
.no-button {
  flex    : 1;
  border  : none;
  outline : none;
}
